* {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-color: #3B3B40;
    color: #F4F4F4;
}

/* NAV */

nav {
    background-color: #bf0a3a;
    /*background-image: linear-gradient(to right, #bf0a3a, #3b3b40 70%);*/
}
nav ul {
    list-style-type: none;
    margin: 0 auto;
    text-align: left;
}
nav li {
    display: inline-block;
    padding: 2rem 0;
    margin: auto 0;
}
nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    color: #F4F4F4;
    padding: 2rem 4rem;
    margin: auto 0;
}
nav a:hover {
    background-image: linear-gradient(to right, transparent 5%, #4365BA, #99C777, #E3C60F, transparent 95%);
    color: #3b3b40;
}

/* HEADER */

.header {
    display: flex;
    background-image: linear-gradient(to bottom, #bf0a3a, rgb(206, 62, 49) 30%, #3b3b40 65%);
    justify-content: space-between;
}

.header h1 {
    font-size: 8rem;
}

.header h2 {
    font-size: 3.5rem;
    margin-right: -5rem;
}

.header h3 {
    font-size: 2rem;
    margin-right: 20rem;
}

.header img {
    max-width: 45%;
    border-radius: 60% 0 0 60%;
    margin-top: -6rem;
}

.header-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 50%;
}

/* .header {
    width: 100%;
    margin: -6rem auto 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, #bf0a3a, rgb(206, 62, 49) 30%, #3b3b40 65%);
}
.header img {
    width: 45%;
    border-radius: 60% 0 0 60%;
}
.header h1 {
    font-size: 8rem;
    align-self: flex-end;
    margin-bottom: 5rem;
    margin-left: 17.5rem;
}

h2 {
    font-size: 3.5rem;
    margin-top: -5.75rem;
    margin-bottom: 2rem;
    margin-left: 25.75rem;
}
h3 {
    font-size: 2rem;
    margin-top: -2.15rem;
    margin-bottom: 2rem;
    margin-left: 28.75rem;
} */

/* ABOUT */

.about {
    width: 60%;
    margin: 10rem auto 0 auto;
}

.about p {
    font-size: 2rem;
    margin: 3rem 0;
}
iframe {
    width: 60%;
    margin: 2rem 20%;
}

/* FOOTER */

footer {
    height: 30rem;
    margin-top: 7rem;
    background-image: linear-gradient(#3b3b40 60%, rgb(206, 62, 49) 80%, #70b0d5 90%, #abdb88 95%, #f8e14c 98%);
    display: flex;
    justify-content: space-between;
    padding: 0 5rem 0 5rem;
}
footer div {
    width: 40vw;
    max-height: 80%;
    background-color: rgba(203, 203, 203, 0.2);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    margin: 0 1rem 10rem 1rem;
}
.linktree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.linktree a {
    min-height: 3rem;
    width: 60%;
    border-radius: 2rem;
    border: none;
    margin: 1rem;
    background-color: #3B3B40;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    color: #F4F4F4;
    padding: 0.5rem;
}
#instagram:hover {
    color: #e0e0e0;
    background-image: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%) ;
    transition: background-color 0.25s, color 0.25s;

}
#youtube:hover {
    color: #e0e0e0;
    background-color: #FF0000;
    transition: background-color 0.25s, color 0.25s;
}
#bandcamp:hover {
    color: #3B3B40;
    background-color: #629aa9;
    transition: background-color 0.25s, color 0.25s;
}

.mail-list {
    display: flex;
    align-items: center;
}
#mail-list {
    margin-left: 3rem;
    margin-right: 3rem;
    width: 100%;
}
#mail-list input, #mail-list textarea {
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    margin: 0 0 1rem 1rem;
    width: 90%;
}
#mail-list legend {
    font-size: 1.5rem;
}
#mail-list p {
    font-size: 2rem;
    padding-bottom: 1rem;
}

/* color concept link: https://color.adobe.com/search?q=vcr&t=term */